@charset "ISO-8859-1";

body
{
	background: #a3a3a3;
	text-align: center;
}

button:focus, input:focus, select:focus
{
	outline:0;
}

select
{
	background: #e6e6e6;
	border-color: gold;
	border-radius: 3px;
}

button.showSelectionsButton
{
	display: none;
}

button#calculateButton, button.showSelectionsButton
{
	background: gold;
	border-color: gold;
	border-radius: 10px;
}

div#tabsDiv
{
	display: inline-block;
	text-align: left;
	width: calc(35% + 8px);
}

button.tab
{
	display: none; /*inline*/
	padding: 5px;
	border-style: outset outset solid;
	border-width: 4px 4px 2px;
	border-radius: 4px 4px 0px 0px;
}

button#tabGood
{
	border-color: lightgreen lightgreen #737373;
	background: lightgreen;
}

button#tabFair
{
	border-color: lightblue lightblue #737373;
	background: lightblue;
}

button#tabBad
{
	border-color: pink pink #737373;
	background: pink;
}

button.page
{
	display:none;
	background: gold;
	border-color: goldenrod;
	border-radius: 2px;
	position:absolute;
	top:49px;
}

button#left
{
	right: calc(32.5% + 70px);
}

button#right
{
	right: calc(32.5% + 5px);
}

div#choicesDiv
{
	display: none; /*inline-block*/
	width: 35%;
	text-align: left;
	border-style: outset;
	border-width: 4px;
	border-radius: 0px 4px 4px 4px;
	padding: 0px 0px 5px 0px;
}

button.championBlock
{
	display: none;
	border-color: blue;
	border-style: inset;
	border-width: 4px;
	border-radius: 5px;
	margin: 4px 5px;
	padding: 0px;
	text-align: left;
	width: calc(100% - 10px);
	height: 50px;	
}

button.championBlock[dataType="Good"]
{
	background: lightgreen;
}

button.championBlock[dataType="Fair"]
{
	background: lightblue;
}

button.championBlock[dataType="Bad"]
{
	background: pink;
}

div.championBlockImg
{
	display: inline-block;
	position: relative;
	top: 3.5px;
	left: 3.5px;
	background-size: 10px 10px;
	width: 35px;
	height: 35px;
}

div.championBlockPercentageBox
{
	position: relative;
	bottom: 28px;
	left: 42px;
	border-style: solid;
	border-width: 2px;
	padding: 0px;
	margin: 2px;
	width: calc(100% - 53px);
	height: 15px;
}

div.championBlockPercentage
{
	display: inline-block;
	background: gold;
	height: 15px;
}

.allyBlock
{
	position: absolute;
	left: 8px;
}

.enemyBlock
{
	position: absolute;
	right: 8px;
}

#helpTitle
{
	display: none; /*inline-block*/
	margin: 10px;
}

#allHelpDiv
{
	display: none; /*inline-block*/
	width: 35%;
	height: 120px;
	border-style: solid none none solid;
	border-width: 3px;
	border-color: black;
}

.helpDiv
{
	display: block; /*block*/
	float: left;
	text-align: center;
	width: calc(25% - 3px);
	height: 100%;
	border-style:none solid none none;
	border-width: 3px;
	border-color: black;
}

.helpPic
{
	display: inline-block;
	width: 49px;
	height: 45px;
	margin: 10px 0px 8px 0px;
}

#strongHelpPic
{
	background: url('https://tjheim.github.io/LoLCounterPicking/WebContent/ComparisonTypePictures/LolCounterSourceStrong.png') left center / 49px 45px;
}

#goodHelpPic
{
	background: url('https://tjheim.github.io/LoLCounterPicking/WebContent/ComparisonTypePictures/LolCounterSourceGood.png') left center / 49px 45px;
}

#evenHelpPic
{
	background: url('https://tjheim.github.io/LoLCounterPicking/WebContent/ComparisonTypePictures/LolCounterSourceEven.png') left center / 49px 45px;
}

#weakHelpPic
{
	background: url('https://tjheim.github.io/LoLCounterPicking/WebContent/ComparisonTypePictures/LolCounterSourceWeak.png') left center / 49px 45px;
}

.helpBlock
{
	display: inline-block;
	width: 90%;
	height: 40px;
	margin: 5px 0px 5px 0px;
}

.helpBlockEl
{
	display: inline-block;
	width: 40px;
	height: 40px;
	margin: 3px;
}

#progressBarBorder
{
	display: inline-block;
	background: gray;
	position: relative;
	top: 10px;
	text-align: center;
	width: 65%;
	height: 30px;
	border-color: black;
	border-style: solid;
	border-width: 3px;
	padding: 0px;
}

#progressBar
{
	display: block;
	background: gold;
	text-align: left;
	height: 100%;
	width: 0%;
}