@charset "ISO-8859-1";

body
{
	background: #d0d0d0;
	text-align: center;
}

button:focus,  input:focus, select:focus
{
	outline:0;
}

.showSelectionsButton
{
	background: gold;
	border-color: gold;
	border-radius: 10px;
}

div#tabsDiv
{
	display: inline-block;
	text-align: left;
	width: calc(30% + 8px);
}

button.tab
{
	display: inline;
	padding: 5px;
	border-style: outset outset solid;
	border-width: 4px 4px 2px;
	border-radius: 4px 4px 0px 0px;
}

button#tabGood, div#choicesDiv
{
	border-color: lightgreen;
	background: lightgreen;
}

button#tabFair
{
	border-color: lightblue lightblue darkgray;
	background: lightblue;
}

button#tabBad
{
	border-color: pink pink darkgray;
	background: pink;
}

div#choicesDiv
{
	display: inline-block;
	width: 30%;
	z-index: -1;
	border-style: outset;
	border-width: 4px;
	border-radius: 0px 4px 4px 4px;
}

div.championBlock
{
	border-color: blue;
	border-style: inset;
	border-width: 4px;
	border-radius: 5px;
	margin: 5px;
	padding: 0px;
	text-align: left;
}

button.championBlock
{
	border-color: blue;
	border-style: inset;
	border-width: 4px;
	border-radius: 5px;
	box-sizing: border-box;
	margin: 5px;
	padding: 0px;
	text-align: left;
	width: 100%;	
}

p.championBlock
{
	background: gold;
	padding: 5px;
	margin: 0px;
	white-space: nowrap;
	z-index: -2;
}

.allyBlock
{
	position: absolute;
	left: 8px;
}

.enemyBlock
{
	position: absolute;
	right: 8px;
}